/*cards*/

.card{
  position: relative;
  background-color: $white;
}

.card-container{
  display: block;
  position: relative;
  padding: 2rem;
  z-index: 500;
}

.card-point{
  position: absolute;
  bottom: -1.5rem;
  text-align: center;
  height: 3rem;
  width: 100%;
  z-index: 100;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: $white;
    transform: skew(0deg, 10deg);
    z-index: 100;
  }

  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: $white;;
    transform: skew(0deg, -10deg);
    z-index: 100;
  }
}

.page-card{
  .card-container{
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (#{$bp-larger-than-tablet}){
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  .card-point{
    bottom: -3rem;
    height: 5.5rem;
  }
}
