.site-header{
  background-color: $white;

  .container{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
  }
}

.brand{
  display: inline-block;
  width: 6rem;
  height: auto;

  svg{
    width: 100%;
    height: auto;
  }
}
