/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* base */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #DCDDDE;
  font: 400 16px/1.5 "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
  font-weight: 500; }

a {
  color: #004888;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease; }
  a:hover {
    opacity: .7; }

/*mixins*/
.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px); }

.heading-border {
  width: 4rem;
  margin: 1rem auto 2rem;
  border-top: 6px solid #BE1E2D;
  border-bottom: 0; }

.color-banner {
  position: relative;
  top: -3px;
  width: 5.5rem;
  height: auto;
  margin: 0 auto; }
  .color-banner svg {
    max-width: 100%;
    height: auto; }

.page-figure {
  margin: 1rem 0; }
  .page-figure img {
    max-width: 100%;
    height: auto; }

/*layout*/
.container {
  position: relative;
  clear: both;
  max-width: 64rem;
  margin: 0 auto 2rem;
  padding: 2rem 2rem 0; }
  @media screen and (min-width: 55rem) {
    .container {
      padding: 2rem 1rem 0; } }

.site-form {
  margin-top: 2rem; }
  .site-form input, .site-form select, .site-form textarea {
    padding: .5rem;
    font-size: .9rem; }
  .site-form .field {
    margin-bottom: 1.5rem; }
    .site-form .field.required .heading label:after {
      content: " *";
      color: red; }
    .site-form .field.inline {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .site-form .field.inline input[type=text] {
        width: 60%; }
        @media screen and (min-width: 35rem) {
          .site-form .field.inline input[type=text] {
            width: 70%; } }
        @media screen and (min-width: 55rem) {
          .site-form .field.inline input[type=text] {
            width: 80%; } }
      .site-form .field.inline button {
        width: auto; }
  .site-form h3 {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .5px;
    color: #9797A4;
    text-transform: none; }
  .site-form input[type=text] {
    width: 100%; }
  .site-form textarea {
    width: 100%; }
  .site-form .heading {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem; }
  .site-form .instructions {
    margin-top: -.5rem;
    margin-bottom: .5rem;
    font-size: .85rem;
    color: #9797A4;
    text-transform: none;
    letter-spacing: 0; }
  .site-form .input div {
    margin-bottom: .75rem;
    line-height: 1; }
  .site-form .input label {
    display: block;
    margin-top: .75rem;
    font-weight: 400;
    vertical-align: middle; }
    .site-form .input label:first-child {
      margin-top: .5rem; }
  .site-form .input input[type=checkbox], .site-form .input input[type=radio] {
    display: inline-block;
    margin-right: .5rem;
    vertical-align: top; }

.notifications {
  margin-bottom: 2rem; }
  .notifications.errors {
    background: #f3b5bb;
    color: #921723; }
  .notifications.success {
    background: #9dd5cf;
    color: #23504c; }
  .notifications .notification {
    margin-bottom: .5rem;
    padding: 1rem;
    font-style: italic; }
    .notifications .notification:empty {
      height: 0;
      margin: 0;
      padding: 0; }

.contact-form .input {
  margin-bottom: 2rem; }

.contact-form label {
  display: block;
  margin-bottom: .25rem;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 1px; }

.contact-form input[type=text], .contact-form select, .contact-form textarea {
  background: #DCDDDE;
  border: 0;
  color: #333; }

.contact-form input[type=text], .contact-form textarea {
  padding: 1rem; }

.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: .75rem;
  text-transform: uppercase;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  text-align: center; }
  .button.more {
    display: block;
    width: 40%;
    margin: 2rem auto;
    background: #004888;
    color: #333; }
  .button:hover {
    opacity: .7; }
  .button.border {
    background: transparent;
    border: 2px solid #004888;
    color: #004888; }
  .button.solid {
    background: #004888;
    color: #fff; }
  .button.disabled {
    background: transparent !important; }
  .button.call-to-action {
    background-color: #BE1E2D;
    color: #fff; }
  .button.submit {
    background-color: #BE1E2D;
    color: #fff; }

.site-form {
  margin-top: 2rem; }
  .site-form input, .site-form select, .site-form textarea {
    padding: .5rem;
    font-size: .9rem; }
  .site-form .field {
    margin-bottom: 1.5rem; }
    .site-form .field.required .heading label:after {
      content: " *";
      color: red; }
    .site-form .field.inline {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .site-form .field.inline input[type=text] {
        width: 60%; }
        @media screen and (min-width: 35rem) {
          .site-form .field.inline input[type=text] {
            width: 70%; } }
        @media screen and (min-width: 55rem) {
          .site-form .field.inline input[type=text] {
            width: 80%; } }
      .site-form .field.inline button {
        width: auto; }
  .site-form h3 {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .5px;
    color: #9797A4;
    text-transform: none; }
  .site-form input[type=text] {
    width: 100%; }
  .site-form textarea {
    width: 100%; }
  .site-form .heading {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem; }
  .site-form .instructions {
    margin-top: -.5rem;
    margin-bottom: .5rem;
    font-size: .85rem;
    color: #9797A4;
    text-transform: none;
    letter-spacing: 0; }
  .site-form .input div {
    margin-bottom: .75rem;
    line-height: 1; }
  .site-form .input label {
    display: block;
    margin-top: .75rem;
    font-weight: 400;
    vertical-align: middle; }
    .site-form .input label:first-child {
      margin-top: .5rem; }
  .site-form .input input[type=checkbox], .site-form .input input[type=radio] {
    display: inline-block;
    margin-right: .5rem;
    vertical-align: top; }

.notifications {
  margin-bottom: 2rem; }
  .notifications.errors {
    background: #f3b5bb;
    color: #921723; }
  .notifications.success {
    background: #9dd5cf;
    color: #23504c; }
  .notifications .notification {
    margin-bottom: .5rem;
    padding: 1rem;
    font-style: italic; }
    .notifications .notification:empty {
      height: 0;
      margin: 0;
      padding: 0; }

.contact-form .input {
  margin-bottom: 2rem; }

.contact-form label {
  display: block;
  margin-bottom: .25rem;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 1px; }

.contact-form input[type=text], .contact-form select, .contact-form textarea {
  background: #DCDDDE;
  border: 0;
  color: #333; }

.contact-form input[type=text], .contact-form textarea {
  padding: 1rem; }

/*cards*/
.card {
  position: relative;
  background-color: #fff; }

.card-container {
  display: block;
  position: relative;
  padding: 2rem;
  z-index: 500; }

.card-point {
  position: absolute;
  bottom: -1.5rem;
  text-align: center;
  height: 3rem;
  width: 100%;
  z-index: 100; }
  .card-point:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #fff;
    -webkit-transform: skew(0deg, 10deg);
            transform: skew(0deg, 10deg);
    z-index: 100; }
  .card-point:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #fff;
    -webkit-transform: skew(0deg, -10deg);
            transform: skew(0deg, -10deg);
    z-index: 100; }

.page-card .card-container {
  padding-left: 2rem;
  padding-right: 2rem; }
  @media screen and (min-width: 55rem) {
    .page-card .card-container {
      padding-left: 4rem;
      padding-right: 4rem; } }

.page-card .card-point {
  bottom: -3rem;
  height: 5.5rem; }

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 1rem 0; }

.breadcrumb {
  display: inline-block;
  font-size: .8125rem;
  text-transform: uppercase; }
  .breadcrumb:after {
    display: inline-block;
    content: "/";
    margin: 0 .25rem 0 .5rem;
    color: #9797A4; }
  .breadcrumb:last-child:after {
    content: ""; }
  .breadcrumb:last-child a {
    color: #333; }
  .breadcrumb a {
    color: #9797A4; }

.site-header {
  background-color: #fff; }
  .site-header .container {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0; }

.brand {
  display: inline-block;
  width: 6rem;
  height: auto; }
  .brand svg {
    width: 100%;
    height: auto; }

.site-nav {
  position: fixed;
  top: 8.1rem;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #BE1E2D url("../img/running.jpg") no-repeat top center;
  background-size: cover;
  z-index: 999;
  opacity: .99;
  -webkit-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out; }
  @media screen and (min-width: 55rem) {
    .site-nav {
      position: static;
      float: right;
      width: auto;
      height: auto;
      margin-top: 4.75rem;
      border-top: 0;
      opacity: 1; } }
  .site-nav.open {
    left: 0; }
  .site-nav .tint {
    width: 100%;
    height: 100%;
    padding: 4rem 0 1rem;
    background-color: rgba(190, 30, 45, 0.8); }
    @media screen and (min-width: 55rem) {
      .site-nav .tint {
        padding: 0;
        background: #fff; } }

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  margin: auto; }
  @media screen and (min-width: 55rem) {
    .nav {
      width: auto; } }
  .nav li {
    margin-bottom: 2rem;
    text-align: center; }
    @media screen and (min-width: 55rem) {
      .nav li {
        display: inline-block;
        margin-bottom: 0; } }
  .nav a {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    color: #fff; }
    @media screen and (min-width: 55rem) {
      .nav a {
        margin-left: 2rem;
        color: #004888; } }
    .nav a.active {
      color: #DCDDDE; }

.site-nav-control {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  display: inline-block;
  float: right;
  width: 6rem;
  height: auto;
  padding: .75rem 1rem;
  color: #004888;
  background: #fff;
  border: 1px solid #004888;
  font-family: "Montserrat", sans-serif; }
  @media screen and (min-width: 55rem) {
    .site-nav-control {
      display: none; } }

.open-site-nav:before {
  content: 'Menu'; }

.close-site-nav:before {
  content: 'Close'; }

.site-footer {
  padding-bottom: 2rem;
  background-color: #DCDDDE; }
  @media screen and (min-width: 55rem) {
    .site-footer .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .site-footer .brand {
    max-width: 90%;
    font-size: 1.125rem;
    color: #333; }

.contact {
  margin-bottom: 2rem; }
  @media screen and (min-width: 55rem) {
    .contact {
      width: 40%; } }

@media screen and (min-width: 55rem) {
  .engage {
    width: calc(60% - 2rem);
    margin-left: 2rem;
    text-align: right; } }

.engage .social li {
  margin-right: .75rem; }
  @media screen and (min-width: 55rem) {
    .engage .social li {
      margin-left: 1rem;
      margin-right: 0; } }

.newsletter-signup {
  width: 100%;
  margin-top: 0; }
  @media screen and (min-width: 55rem) {
    .newsletter-signup {
      float: right; } }
  .newsletter-signup button[type=submit] {
    background-color: #BE1E2D; }
  .newsletter-signup p {
    text-align: left;
    font-size: .875rem; }

.policy-pages {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem; }
  .policy-pages li {
    margin-bottom: .5rem;
    margin-right: 1rem;
    font-size: .875rem;
    color: #666666; }
    @media screen and (min-width: 55rem) {
      .policy-pages li {
        display: inline-block; } }
    .policy-pages li a {
      color: inherit;
      text-decoration: underline; }

.contact .name {
  display: block;
  font-size: 1.125rem; }
  .contact .name a {
    color: #004888; }

.contact .street-address {
  display: block; }

.contact .email {
  display: block;
  margin-top: 1.125rem; }

/*courses*/
.featured-courses {
  padding-bottom: 2rem; }

.course-previews {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  @media screen and (min-width: 55rem) {
    .course-previews {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: -2rem; } }
  .course-previews.card {
    max-width: 45rem;
    margin: 2rem auto; }

.course-preview {
  max-width: 20rem;
  margin-top: 0;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 55rem) {
    .course-preview {
      width: calc(33.333% - 2rem);
      margin-left: 2rem;
      margin-bottom: 2rem; } }
  .course-preview .color-banner {
    margin-top: -2px; }
  .course-preview a {
    color: #333; }
  .course-preview hr {
    width: 4.5rem;
    margin: 1.25rem auto 2rem;
    border-top: 1px solid #b2b2bc;
    border-bottom: 0; }
  .course-preview h4 {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400; }
  .course-preview p {
    font-size: .875rem; }

.course-title {
  margin-bottom: 0;
  color: #004888;
  font-size: 1.5rem; }
  .course-title small {
    display: block;
    margin-top: 1rem;
    color: #BE1E2D;
    font-size: 1rem;
    font-weight: 400; }

.course-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
  font-size: .8125rem;
  color: #4d4d4d; }
  .course-meta li {
    margin-bottom: 2rem; }
  .course-meta h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: .8125rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .course-meta p {
    margin-top: 0; }

.course-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.course-list-item {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #DCDDDE; }
  .course-list-item:last-child {
    border-bottom: 0; }
  .course-list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: inherit;
    overflow: hidden; }
  .course-list-item .course-title {
    width: 100%; }
    @media screen and (min-width: 55rem) {
      .course-list-item .course-title {
        width: 30%; } }
    .course-list-item .course-title small {
      margin-top: .25rem; }
  .course-list-item .course-description {
    width: 100%; }
    @media screen and (min-width: 55rem) {
      .course-list-item .course-description {
        width: calc(70% - 2rem);
        margin-left: 2rem; } }

/* team memebrs */
.team {
  background-color: #fff; }

.team-member-previews {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem; }
  @media screen and (min-width: 35rem) {
    .team-member-previews {
      margin-left: -1rem; } }

.team-member-preview {
  width: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 35rem) {
    .team-member-preview {
      margin-left: 1rem; } }

.team-member-bios {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 55rem) {
    .team-member-bios {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: -2rem; } }

.team-member-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 55rem) {
    .team-member-bio {
      width: calc(50% - 2rem);
      margin-left: 2rem;
      margin-bottom: 2.5rem; }
      .team-member-bio:nth-last-of-type(-n+2) {
        margin-bottom: 0; } }
  @media screen and (min-width: 55rem) {
    .team-member-bio .team-member-avatar {
      width: 30%; } }

.team-member-avatar {
  width: 100%;
  margin: 0;
  text-align: center; }
  .team-member-avatar img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-clip-path: url(#badge);
            clip-path: url(#badge); }

@media screen and (min-width: 55rem) {
  .team-member-description {
    width: calc(70% - 1rem);
    margin-top: 1.25rem;
    margin-left: 1rem; } }

.team-member-description h3 {
  margin-bottom: .5rem;
  font-size: 1rem;
  color: #333; }

.team-member-description p {
  margin-top: 0;
  font-size: .8125rem;
  color: #9797A4; }

.clients {
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #004888;
  color: #fff; }
  .clients .container {
    overflow: hidden; }

.client-testimonial {
  margin: 0 0 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #DCDDDE; }
  @media screen and (min-width: 55rem) {
    .client-testimonial {
      float: left;
      width: 60%;
      padding-bottom: 0;
      border-bottom: 0; } }
  .client-testimonial p {
    margin-top: 0;
    font-size: 1.875rem; }
  .client-testimonial cite {
    font-style: normal;
    font-size: .8125rem;
    letter-spacing: 1px; }

@media screen and (min-width: 55rem) {
  .client-cta {
    float: left;
    width: calc(40% - 4rem);
    margin-left: 4rem; } }

.client-cta .button {
  border-color: #fff;
  color: #fff; }

.client-types {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  font-size: 1.25rem; }
  .client-types li {
    margin-bottom: 1rem; }

/*homepage specific styles*/
.homepage-section h2 {
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 0;
  letter-spacing: .5px;
  text-align: center; }

.hero {
  background: url("../img/running.jpg") no-repeat top center;
  background-size: cover;
  color: #fff;
  text-align: center; }
  @media screen and (min-width: 55rem) {
    .hero {
      text-align: left; } }
  .hero .tint {
    background-color: rgba(0, 59, 111, 0.9); }
  .hero .container {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden; }
    @media screen and (min-width: 55rem) {
      .hero .container {
        padding-top: 4rem;
        padding-bottom: 4rem; } }
  .hero p {
    margin: 0;
    font-size: 2.25rem; }
    @media screen and (min-width: 55rem) {
      .hero p {
        width: 90%;
        font-size: 2.75rem; } }
  .hero .button {
    margin: 2rem 0 1rem 0;
    border-color: #fff;
    color: #fff; }

.team {
  overflow: hidden; }
  @media screen and (min-width: 35rem) {
    .team .team-member-previews {
      float: left;
      width: 60%; } }
  @media screen and (min-width: 55rem) {
    .team .team-member-previews {
      width: 40%; } }
  @media screen and (min-width: 70rem) {
    .team .team-member-previews {
      width: 50%; } }
  .team .team-description {
    margin-bottom: 4rem; }
    @media screen and (min-width: 35rem) {
      .team .team-description {
        float: left;
        width: calc(40% - 2rem);
        margin-left: 2rem; } }
    @media screen and (min-width: 55rem) {
      .team .team-description {
        width: calc(60% - 2rem); } }
    @media screen and (min-width: 70rem) {
      .team .team-description {
        width: calc(50% - 2rem); } }

.page {
  margin-bottom: 8rem; }

.page-header h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: #004888;
  font-size: 2.25rem; }

.subtitle {
  margin-top: .5rem;
  color: #BE1E2D; }

.page-content {
  margin-top: 2rem; }
  .page-content:first-of-type {
    margin-top: 1rem; }
  .page-content.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

@media screen and (min-width: 55rem) {
  .page-section {
    width: 70%;
    margin-bottom: 4rem; } }

.page-section.full {
  width: 100%; }

.page-section h2 {
  margin-bottom: .5rem;
  text-transform: uppercase; }

.page-section p {
  margin-bottom: 1.5rem; }
  .page-section p:first-child {
    margin-top: 1rem; }
  .page-section p:last-child {
    margin-bottom: 0; }

.page-aside {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media screen and (min-width: 55rem) {
    .page-aside {
      width: calc(30% - 2rem);
      margin-top: 0;
      margin-bottom: 0; } }

@media screen and (min-width: 55rem) {
  .content-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

@media screen and (min-width: 55rem) {
  .aside-left {
    margin-left: 0;
    margin-right: 2rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media screen and (min-width: 55rem) {
  .aside-right {
    margin-left: 2rem;
    margin-right: 0; } }
